<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
	<head>
		<%= render partial: 'layouts/meta_common' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		
		<%= render partial: 'layouts/meta_social_analytics' %>
	</head>
	<body>
		
		<%= render partial: 'layouts/navbar' %>
		
		<div class="container-fluid main-container">
			<div class="row">
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>
		
		<%= render partial: 'layouts/end_scripts' %>
		
	</body>
</html>
